@import './styles/colors.scss';

.block {
  // block
  display: flex;

  &__text {
    // block__text
    color: $blue;

    &__header {
      // block__text__header
      font-size: 25px;
    }
  }
}